services:
  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile # incase if we give another name for Dockerfile , we refer that by this option
    image: malleswari1234/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb

  mongodb:
    build: ./mongodb
    image: malleswari1234/mongodb:v1
    container_name: mongodb 
    volumes:
    - mongodb:/data/db 

  redis:
    build: ./redis
    image: malleswar1234/redis:7.0
    container_name: redis
    volumes:
    - redis:/data

  mysql:
    build: ./mysql
    image: malleswari1234/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql

  rabbitmq:
    build: ./rabbitmq
    image: malleswari1234/rabbitmq:3
    container_name: rabbitmq 
    volumes: # -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123

  user:
    build: ./user
    image: malleswari1234/user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis

  cart:
    build: ./cart
    image: malleswari1234/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue

  shipping:
    build: ./shipping
    image: malleswari1234/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart

  payment:
    build: ./payment
    image: malleswari1234/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user

  frontend:
    build: ./frontend
    image: malleswari1234/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart  
    - shipping
    - payment

networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true if you have created network manually using docker network command

volumes:
 mongodb: # docker volume create mongodb
 redis:
 mysql:
 rabbitmq:         

